<div class="col-xl-8 col-lg-7 col-md-7">
    <!-- Activity Timeline -->
    <div class="row">

        {% set contract_employer = project.contract_price %}
        {% set contract_employer_insurance = contract_employer * project.contract_insurance_percentage / 100 %}
        {% set contract_employer_guarantee_performance = contract_employer * project.contract_guarantee_performance_percentage / 100 %}
        {% set contract_university = contract_employer - contract_employer_insurance %}


        <!-- Contract University Overhead -->
        {% set contract_university_overhead = contract_university * project.contract_university_overhead_percentage / 100 %}

        {% if contract_employer !=0 %}
            {% set contract_university_overhead_percent = (100 * contract_university_overhead / contract_employer) | round(1) | float %}
        {% else %}
            {% set contract_university_overhead_percent = 0 %}
        {% endif %}
        <!-- /Contract University Overhead -->


        <!-- Contract WERI Overhead -->
        {% set contract_weri_overhead = contract_university * project.contract_weri_overhead_percentage / 100 %}

        {% if contract_employer !=0 %}
            {% set contract_weri_overhead_percent = (100 * contract_weri_overhead / contract_employer) | round(1) | float %}
        {% else %}
            {% set contract_weri_overhead_percent = 0 %}
        {% endif %}
        <!-- /Contract WERI Overhead -->

        {% set contract_tax = contract_university * project.contract_tax_percentage / 100 %}
        {% set contract_project = contract_university - contract_university_overhead - contract_weri_overhead - contract_tax %}


        <!-- Contract Project - Tax -->
        {% set contract_project_tax = contract_university - contract_university_overhead - contract_weri_overhead %}

        {% if contract_employer !=0 %}
            {% set contract_project_tax_percent = (100 * contract_project_tax / contract_employer) | round(1) | float %}
        {% else %}
            {% set contract_project_tax_percent = 0 %}
        {% endif %}
        <!-- /Contract Project - Tax -->



        


        {% set total_contract_requested,
        total_insurance,
        total_guarantee_performance,
        total_contract_received,
        total_university_overhead,
        total_weri_overhead,
        total_tax,
        total_project_received = project.received_employer | calc_received_employer %}

        {% set total_payment_employees = project.payment_employees | calc_payment_employees %}


        <!-- Total Contract Free -->
        {% set total_contract_free = (total_contract_requested - total_insurance - total_guarantee_performance) | round(1) | float %}

        {% if contract_employer !=0 %}
            {% set total_contract_free_percent = (100 * total_contract_free / contract_employer) | round(1) | float %}
        {% else %}
            {% set total_contract_free_percent = 0 %}
        {% endif %}
        <!-- /Total Contract Free -->


        <!-- Total Contract Remaining -->
        {% set total_contract_remaining = (contract_employer - total_contract_free - total_insurance - total_guarantee_performance) | round(1) | float %}

        {% if contract_employer !=0 %}
            {% set total_contract_remaining_percent = (100 * total_contract_remaining / contract_employer) | round(1) | float %}
        {% else %}
            {% set total_contract_remaining_percent = 0 %}
        {% endif %}
        <!-- /Total Contract Remaining -->


        <!-- Total Blocked Insurance -->
        {% set total_blocked_insurance = (total_insurance) | round(1) | float %}

        {% if contract_employer !=0 %}
            {% set total_blocked_insurance_percent = (100 * total_blocked_insurance / contract_employer) | round(1) | float %}
        {% else %}
            {% set total_blocked_insurance_percent = 0 %}
        {% endif %}
        <!-- /Total Blocked Insurance -->


        <!-- Total Blocked Guarantee Performance -->
        {% set total_blocked_guarantee_performance = (total_guarantee_performance) | round(1) | float %}

        {% if contract_employer !=0 %}
            {% set total_blocked_guarantee_performance_percent = (100 * total_blocked_guarantee_performance / contract_employer) | round(1) | float %}
        {% else %}
            {% set total_blocked_guarantee_performance_percent = 0 %}
        {% endif %}
        <!-- /Total Blocked Guarantee Performance -->


        <!-- Total University Overhead -->
        {% set total_university_overhead = total_university_overhead | round(1) | float %}

        {% if total_contract_free !=0 %}
            {% set total_university_overhead_percent = (100 * total_university_overhead / total_contract_free) | round(1) | float %}
        {% else %}
            {% set total_university_overhead_percent = 0 %}
        {% endif %}

        <!-- /Total University Overhead -->


        <!-- Total WERI Overhead -->
        {% set total_weri_overhead = total_weri_overhead | round(1) | float %}

        {% if total_contract_free !=0 %}
            {% set total_weri_overhead_percent = (100 * total_weri_overhead / total_contract_free) | round(1) | float %}
        {% else %}
            {% set total_weri_overhead_percent = 0 %}
        {% endif %}
        <!-- /Total WERI Overhead -->


        <!-- Total Tax -->
        {% set total_tax = total_tax | round(1) | float %}

        {% if total_contract_free !=0 %}
            {% set total_tax_percent = (100 * total_tax / total_contract_free) | round(1) | float %}
        {% else %}
            {% set total_tax_percent = 0 %}
        {% endif %}
        <!-- /Total Tax -->


        <!-- Total Project Received -->
        {% set total_project_received = total_project_received | round(1) | float %}
        {% set total_project_remaining = (contract_project - total_project_received) | round(1) | float %}



        {% if total_contract_free !=0 %}
            {% set total_project_received_percent = (100 * total_project_received / total_contract_free) | round(1) | float %}
        {% else %}
            {% set total_project_received_percent = 0 %}
        {% endif %}

        {% if contract_project !=0 %}
            {% set total_project_received_total_project_percent = (100 * total_project_received / contract_project) | round(1) | float %}
        {% else %}
            {% set total_project_received_total_project_percent = 0 %}
        {% endif %}

        {% if contract_project !=0 %}
            {% set total_project_remaining_percent = (100 * total_project_remaining / contract_project) | round(1) | float %}
        {% else %}
            {% set total_project_remaining_percent = 0 %}
        {% endif %}
        <!-- /Total Project Received -->



        <!--  -->
        {% if total_project_received !=0 %}
            {% set total_payment_employees_percent = (100 * total_payment_employees / total_project_received) | round(1) | float %}
        {% else %}
            {% set total_payment_employees_percent = 0 %}
        {% endif %}

        {% set total_payment_employees_remaining = (total_project_received - total_payment_employees) | round(1) | float %}

        {% if total_project_received !=0 %}
            {% set total_payment_employees_remaining_percent = (100 * total_payment_employees_remaining / total_project_received) | round(1) | float %}
        {% else %}
            {% set total_payment_employees_remaining_percent = 0 %}
        {% endif %}
        <!--  -->

        <div class="col-12">

            <div class="divider text-center">
                <div class="divider-text">اطلاعات مالی قرارداد</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 mb-2 mx-auto">
                <div class="card p-0 m-0 bg-white">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center gap-3">
                                <div class="avatar">
                                    <span class="avatar-initial rounded-circle bg-label-primary"><i
                                            class="bx bx-dollar fs-4"></i></span>
                                </div>
                                <div class="card-info">
                                    <h5 class="card-title mb-0 me-2">{{ "{:,}".format(results.t | int) }} ریال
                                    </h5>
                                    <small class="text-muted">مبلغ کل قرارداد</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-widget-separator-wrapper">
                    <div class="card-body card-widget-separator">
                        <div class="row gy-4 gy-sm-1">

                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-1 ">
                                    <div>
                                        <h6 class="mb-2">سهم بیمه</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="danger"
                                                data-series={{results.t_ins_perc | round(1) | string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(results.t_ins | round(0) | int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-danger">{{results.t_ins_perc | round(1) | string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none me-4" />
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-2">
                                    <div>
                                        <h6 class="mb-2">بالاسری دانشگاه</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="secondary"
                                                data-series={{results.t_uo_perc | round(1) | string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(results.t_uo | round(0) | int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-secondary">{{results.t_uo_perc | round(1) | string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none" />
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                                    <div>
                                        <h6 class="mb-2">بالاسری پژوهشکده</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="secondary"
                                                data-series={{results.t_wo_perc | round(1) | string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(results.t_wo | round(0) | int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-secondary">{{results.t_wo_perc | round(1) | string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div>
                                        <h6 class="mb-2">سهم پروژه (+ مالیات)</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="primary"
                                                data-series={{(results.t_proj_perc + results.t_tax_perc) | round(1) | string}}>
                                            </div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format((results.t_proj + results.t_tax) | round(0) | int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-primary">{{(results.t_proj_perc + results.t_tax_perc) | round(1) | string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">

            <div class="divider text-center">
                <div class="divider-text">اطلاعات مربوط به کارفرما</div>
            </div>

            <div class="card mb-4">
                <div class="card-widget-separator-wrapper">
                    <div class="card-body card-widget-separator">
                        <div class="row gy-4 gy-sm-1">
                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
                                    <div>
                                        <h6 class="mb-2">آزادشده</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="success"
                                                data-series={{total_contract_free_percent|string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_contract_free | round(0) |
                                                    int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-success">{{total_contract_free_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none me-4" />
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
                                    <div>
                                        <h6 class="mb-2">بازداشت حسن‌انجام‌کار</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="primary"
                                                data-series={{total_blocked_guarantee_performance_percent|string}}>
                                            </div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_blocked_guarantee_performance |
                                                    round(1) | float))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-primary">{{total_blocked_guarantee_performance_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                                    <div>
                                        <h6 class="mb-2">بازداشت بیمه</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="secondary"
                                                data-series={{total_blocked_insurance_percent|string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_blocked_insurance | round(0) |
                                                    int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-secondary">{{total_blocked_insurance_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start">
                                    <div>
                                        <h6 class="mb-2">باقی‌مانده</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="danger"
                                                data-series={{total_contract_remaining_percent|string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_contract_remaining | round(0) |
                                                    int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-danger">{{total_contract_remaining_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-12">
            <div class="divider text-center">
                <div class="divider-text">اطلاعات مربوط به پول آزاد شده</div>
            </div>

            <div class="card mb-4">
                <div class="card-widget-separator-wrapper">
                    <div class="card-body card-widget-separator">
                        <div class="row gy-4 gy-sm-1">
                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-3 pb-sm-0">
                                    <div>
                                        <h6 class="mb-2">بالاسری دانشگاه</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="success"
                                                data-series={{total_university_overhead_percent|string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_university_overhead | round(0) |
                                                    int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-success">{{total_university_overhead_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none me-4" />
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-3 pb-sm-0">
                                    <div>
                                        <h6 class="mb-2">بالاسری پژوهشکده</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="success"
                                                data-series={{total_weri_overhead_percent|string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_weri_overhead | round(0) |
                                                    int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-success">{{total_weri_overhead_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block d-lg-none" />
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div
                                    class="d-flex justify-content-between align-items-start border-end pb-3 pb-sm-0 card-widget-3">
                                    <div>
                                        <h6 class="mb-2">مالیات</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="danger"
                                                data-series={{total_tax_percent|string}}></div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_tax | round(0) |
                                                    int))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-danger">{{total_tax_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div>
                                        <h6 class="mb-2">سهم پروژه</h6>
                                        <div class="d-flex align-content-center">
                                            <div class="chart-report" data-color="primary"
                                                data-series={{total_project_received_percent|string}}>
                                            </div>
                                            <div class="chart-info ms-2">
                                                <h6 class="mb-0">{{("{:,}".format(total_project_received |
                                                    round(1) | float))}} ریال</h6>
                                                <small class="text-muted"><span
                                                        class="badge bg-label-primary">{{total_project_received_percent|string}}%</span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="divider text-center">
            <div class="divider-text">اطلاعات مربوط به مبالغ آزادشده - باقی‌مانده</div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">پرداختی به پژوهشگران</h5>
                </div>
                <div class="card-body d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-end justify-content-between align-items-center gap-3 w-100">
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="success" data-series={{total_payment_employees_percent|string}}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format(total_payment_employees | round(0) | int))}} ریال</h6>
                                <small class="text-muted">پرداخت‌شده</small>
                            </div>
                        </div>
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="danger" data-series={{total_payment_employees_remaining_percent|string}}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format(total_payment_employees_remaining | round(0) | int))}} ریال</h6>
                                <small class="text-muted">باقی‌مانده</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">سهم پروژه</h5>
                </div>
                <div class="card-body d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-end justify-content-between align-items-center gap-3 w-100">
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="success" data-series={{total_project_received_percent|string}}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format(total_project_received | round(0) | int))}} ریال</h6>
                                <small class="text-muted">آزادشده</small>
                            </div>
                        </div>
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="danger" data-series={{total_project_remaining_percent|string}}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format(total_project_remaining | round(0) | int))}} ریال</h6>
                                <small class="text-muted">باقی‌مانده</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">بالاسری دانشگاه</h5>
                </div>
                <div class="card-body d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-end justify-content-between align-items-center gap-3 w-100">
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="success" data-series={% if
                                contract_university_overhead !=0 %}{{ (100 * total_university_overhead /
                                contract_university_overhead) | round(1) | float | string }}{% else %}0{% endif %}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format(total_university_overhead | round(1) | float))}} ریال
                                </h6>
                                <small class="text-muted">آزادشده</small>
                            </div>
                        </div>
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="danger" data-series={% if contract_university_overhead
                                !=0 %}{{ (100 - (100 * total_university_overhead / contract_university_overhead)) |
                                round(1) | float | string }}{% else %}0{% endif %}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format((contract_university_overhead -
                                    total_university_overhead) | round(1) | float))}} ریال</h6>
                                <small class="text-muted">باقی‌مانده</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">بالاسری پژوهشکده</h5>
                </div>
                <div class="card-body d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-end justify-content-between align-items-center gap-3 w-100">
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="success" data-series={% if
                                contract_weri_overhead !=0 %}{{ (100 * total_weri_overhead /
                                contract_weri_overhead) | round(1) | float | string }}{% else %}0{% endif %}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format(total_weri_overhead | round(1) | float))}} ریال
                                </h6>
                                <small class="text-muted">آزادشده</small>
                            </div>
                        </div>
                        <div class="d-flex align-content-center">
                            <div class="chart-report" data-color="danger" data-series={% if contract_weri_overhead
                                !=0 %}{{ (100 - (100 * total_weri_overhead / contract_weri_overhead)) |
                                round(1) | float | string }}{% else %}0{% endif %}></div>
                            <div class="chart-info ms-2">
                                <h6 class="mb-0">{{("{:,}".format((contract_weri_overhead -
                                    total_weri_overhead) | round(1) | float))}} ریال</h6>
                                <small class="text-muted">باقی‌مانده</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Hoverable Table rows -->
    <div class="divider text-center">
        <div class="divider-text">جدول صورتحساب‌های دریافتی از کارفرما</div>
    </div>
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-center w-100 align-items-center">
            <div class="card-action-element btn-pinned">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <a href="{{ url_for('database.home') }}#target-add-received-employer" class="dropdown-item"><i
                            class='bx bx-list-plus me-1'></i>اضافه کردن صورتحساب جدید</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>مرحله</th>
                        <th>تاریخ درخواست</th>
                        <th>مبلغ درخواستی</th>
                        <th>تاریخ دریافت</th>
                        <th>مبلغ دریافتی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for pre in project.received_employer %}
                    <tr>
                        <td>
                            <span class="fw-medium">{{pre.name}}</span>
                        </td>
                        <td>
                            {{pre.requested_date}}
                        </td>
                        <td>
                            {{"{:,}".format(pre.requested_amount)}} ریال
                        </td>
                        <td>
                            {{pre.received_date}}
                        </td>
                        <td>
                            {{"{:,}".format(pre.received_amount)}} ریال
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                        href="{{url_for('dashboard.update_received_employer', received_employer_id=pre.id)}}"><i
                                            class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                    <a class="dropdown-item"
                                        href="{{url_for('dashboard.delete_received_employer', received_employer_id=pre.id, project_id=project.id)}}"><i
                                            class="bx bx-trash me-1"></i>
                                        حذف</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->




    <!-- Hoverable Table rows -->
    <div class="divider text-center">
        <div class="divider-text">جدول پرداختی‌ها به پژوهشگران</div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-center w-100 align-items-center">
            <div class="card-action-element btn-pinned">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <a href="{{ url_for('database.home') }}#target-add-payment-employees" class="dropdown-item"><i
                            class='bx bx-list-plus me-1'></i>اضافه کردن پرداختی جدید</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>پژوهشگر</th>
                        <th>مرحله واریزی کارفرما</th>
                        <th>تاریخ</th>
                        <th>مبلغ</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for ppe in project.payment_employees %}
                    <tr>
                        <td>
                            <span class="fw-medium">{{ppe.employee.full_name}}</span>
                        </td>
                        <td>
                            {{ppe.received_employer.name}}
                        </td>
                        <td>
                            {{ppe.payment_date}}
                        </td>
                        <td>
                            {{"{:,}".format(ppe.payment_amount)}} ریال
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                        href="{{url_for('dashboard.update_payment_employees', payment_employees_id=ppe.id)}}"><i
                                            class="bx bx-edit-alt me-1"></i> ویرایش</a>
                                    <a class="dropdown-item"
                                        href="{{url_for('dashboard.delete_payment_employees', payment_employees_id=ppe.id)}}"><i
                                            class="bx bx-trash me-1"></i>
                                        حذف</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Hoverable Table rows -->


</div>